.headerbuy{
    padding-left: 0;
    align-items: center;
    flex-direction: column;
}

.product{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
}

.product div{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border: solid 3px black;
    width: 20vw;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}

.product div img{
    width: 17vw;
    border-radius: 6px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}

.product div h3{
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 7px;
}

.product div p{
    font-size: 0.8em;
    font-weight: 450;
    padding-top: 7px;
}